html,
body {
  height: 100%;
  margin: 0;
}

.content {
  display: relative;
  padding: 10px;
}

.columns {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0px 10px;
  flex: 1;
  width: 100%;
  padding: 0;
}

.item {
  opacity: 0;
  -o-transform: translateY(20px);
  -o-transition: opacity 0.5s, transform 0.5s;
  width: 100%;
  margin: 5px;
  -webkit-transition: opacity 0.5s, transform 0.5s;
  -moz-transition: opacity 0.5s, transform 0.5s;
  -ms-transition: opacity 0.5s, transform 0.5s;
  transition: opacity 0.5s, transform 0.5s;
  -webkit-transform: translateY(20px);
  -moz-transform: translateY(20px);
  -ms-transform: translateY(20px);
  transform: translateY(20px);
}

.columnn .item {
  flex: 1;
  text-align: left;
  -o-border-radius: 5px;
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid #2a2a2a;
  padding: 10px;
  margin: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}



.columns .item .rightbtn {
  position: absolute;
  right: 0;
  top: 0;
  margin: 10px;
}

.progress {
  -o-border-radius: 5px;
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid #2a2a2a;
  margin: 0;
  padding: 0;
  height: 40px;
  width: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}

.progress-done {
  -o-border-radius: 5px;
  background: var(--glow-color);
  background: linear-gradient(135deg, #bb00ff, #9900ff);
  box-shadow: 0 0 15px rgba(187, 0, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  -o-transition: 2s ease;
  -webkit-transition: 2s ease;
  -moz-transition: 2s ease;
  -ms-transition: 2s ease;
  transition: 2s ease;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}

.progress-label {
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  transition: 0s;
  margin: 0;
  padding: 0;
  -o-transform: translateY(-100%);
  font-size: 20px;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}

.feed-container {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  -o-border-radius: 5px;
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid #2a2a2a;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px;
  gap: 10px;
  margin-top: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  max-height: 600px;
}

.feed-container h2 {
  text-align: left;
}

.feed-container p {
  margin: 0;
  text-align: left;
}

.feed-item {
  -o-border-radius: 5px;
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid #2a2a2a;
  padding: 10px;
  width: 100%;
  position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}

.feed-item .head {
  width: 100%;
  height: 100px;
}

.feed-item img {
  height: 100%;
  float: right;
  -o-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}

.feed-item .subtitle {
  font-size: 18px;
}

.logo{
  width: 200px;
  height: auto;
  display: block;
  margin: -35px auto;
}

#lorgeFry {
 width:60%
}

#smolFry {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  height: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contentBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0px;
  margin: 0px;
  height: calc(100% - 230px);
}

.contentBody>.columns{
  height: 100%;
}

#sidebarLogo {
  margin: 0 auto;
}

.tcenter{
  text-align: center;
  margin: auto;
  width: 100%;
}

.t_action_log {
  text-align: center;
  margin: auto;
  width: auto;
  border-color: #2a2a2a;
  background-color: #0000007f;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  border: 1px solid #2a2a2a;
}

.t_action_log > span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex: 1;
  padding: 0 20px;
}

.t_action_log h1, 
.t_action_log h2 {
  margin: 0;
  display: inline;
}

.t_action_log h2 {
  margin: 0;
  display: inline;
  white-space: nowrap;
  width: 100%;
}

.trending_up{
  color: #00ffaa;
  text-shadow: 0px 0px 5px #00ffaa, 0px 0px 10px #17a978,
    0px 0px 15px #17a978;
}

.trending_down{
  color: #ff00aa;
  text-shadow: 0px 0px 5px #ff00aa, 0px 0px 10px #a1006c,
    0px 0px 15px #a1006c;
}

.trending_flat{
  color: #aa00ff;
  text-shadow: 0px 0px 5px #aa00ff, 0px 0px 10px #5d008b,
    0px 0px 15px #5d008b;
}

.talogo{
  font-size: 60px;
  border: 1px solid #2a2a2a;
  border-radius: 10px;
  padding: 10px;
}

.ta_ticker {
  border: 1px solid #2a2a2a;
  background-color: #0000007f;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  margin-right: 10px;
}

.ta_content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex: 1;
}